@import "./reset.css";
@import "./_var.scss";

body {
  background: $cream;
  font-family: "Noto Sans", sans-serif;
  color: $darkGray;
}

a {
  transition: all 0.25s ease-in;
  text-decoration: none;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.error {
  font-size: 12px;
  line-height: 15px;
  color: $red;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button {
  width: 100%;
  background: $darkRed;
  color: $cream;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  transition: all 0.25s ease-in;
  cursor: pointer;
  &:hover {
    background: $red;
  }
}

svg {
  width: 100%;
  height: 100%;
  transition: all 0.25s ease-in;
}

path {
  transition: all 0.25s ease-in;
}

.category-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  &.swiper-pagination {
    position: static;
  }
  .swiper-pagination-bullet {
    margin: 0 5px;
    opacity: 1;
    background: rgba($darkGray, 0.6);
  }
  .swiper-pagination-bullet-active {
    background: $darkGray;
  }
}

.swiper-grid .swiper-slide {
  margin-bottom: 20px;
}

*::-webkit-scrollbar {
  background: $cream;
  border-radius: 5px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: $darkCream;
  border-radius: 5px;
}
