.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content {
  max-width: 940px;
  width: 100%;
  padding: 0px 20px 30px;
  height: calc(100vh - 60px);
  margin: 0 auto;
}
