@import "../../styles/var";

.container {
  max-width: 500px;
  width: 100%;
  margin: 30px auto 0;
  position: relative;
  padding-bottom: 20px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 2px;
    border-radius: 2px;
    left: 50%;
    transform: translateX(-50%);
    background: $darkGray;
  }
}

.light {
  background: rgba($cream, 0.1);
  max-width: 550px;
  border-radius: 20px;
  padding: 20px 10px;
  margin-top: 15px;
  &:after {
    display: none;
  }
}

.items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.item {
  width: 25%;
}
