@import "../../../styles/var";

.separation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 15px;
  .text {
    color: $cream;
    margin: 0 10px;
  }
}

.line {
  width: 100%;
  height: 2px;
  background: $darkCream;
  border-radius: 2px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
}

.icon {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
